$darkmauve: rgb(128, 100, 100);
$warmtaupe: rgb(80, 70, 70);
$pardonPink: rgb(238, 219, 215);
$warmwhite: rgb(223, 215, 208);
$mutednavy: rgb(47, 61, 90);
$cardbackground: rgba(55, 38, 56, .2);
$headerteal: rgb(4, 125, 129);