@import '~bootstrap/scss/bootstrap';
@import './variables';
@import '~devicon/devicon.min.css';

body {
  background: radial-gradient(transparent, $pardonPink) no-repeat center center fixed,
    $warmtaupe url("https://images.unsplash.com/photo-1563225409-127c18758bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $warmtaupe;
  font-family: 'Abel', 'Gayathri', sans-serif;


    .myNav {
        background-color: $warmtaupe!important;
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        z-index: 1030;

        #navLinks {
            width: 90%;

            li {
                display: inline-block;

                a{
                    color: $warmwhite!important;

                    &:hover{
                    color: $darkmauve!important;
                    text-decoration: none!important;
                    }
                }   
            }
        }
    }

    #mainDiv {    
    & .fullPage{
        padding-top: 2.3rem;
        min-height: 100vh;
    }

    #bioPage, #technologiesPage {
    background: radial-gradient(transparent, $warmtaupe) no-repeat center center fixed,
        $warmtaupe url("https://images.unsplash.com/photo-1447703693928-9cd89c8d3ac5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") no-repeat center center fixed;
    background-size: cover;
    color: $warmwhite;
    height: 100%;
    margin: 0;
    padding: 2.3rem 0 0 0;

    & p {
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 90%;
    }
    }

    a {
        color: $warmtaupe;
        text-decoration: none;

        &:hover {
            font-size: 1.1em;
        }

        &:active {
            color: rgba(79, 5, 83, 0.767); 
            text-decoration: underline;
        }
    }

    .skillsList {
        & p {
        font-size: 4em;

        &:hover{
            color: $darkmauve;
        }
        }
    }

    #projectsBody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .projectCard {
        background-color: $cardbackground;
        border: 2px solid $mutednavy;
        color: $mutednavy;

        & h4 {
        color: $headerteal;
        }
    }
        
    .projectLinks {
        display: flex;
        justify-content: space-evenly;
    }

  }

  .footerLinks{
    display: flex;
    font-size: 2em;
    justify-content: space-evenly;   
  }

  .page-footer {
    background-color: $warmtaupe;

    & h5 {
      text-align: center;
    }

    a {
      &:hover{
        color: $warmwhite;
      }
    }
  }
}
