@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  background: radial-gradient(transparent, #EAC1C1) no-repeat center center fixed,
    $plum url("https://images.unsplash.com/photo-1563225409-127c18758bd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $plum;
  font-family: 'Abel', 'Gayathri', sans-serif;

  .myNav {
    background-color: $plum!important;

    #navLinks {
        width: 90%;
        // display: flex;
        // align-items: baseline;
        // justify-content: space-evenly;
        // list-style-type: none;

        li {
            display: inline-block;

            a{
                color: $warmwhite!important;

                // &:visited {
                // color: $mutednavy; 
                // }

                &:hover{
                color: $warmtaupe!important;
                text-decoration: none!important;
                }
            }   
        }
    }
  }

  & .fullPage{
    min-height: 100vh;
}

  #mainDiv {
    margin-bottom: 4rem;
  }

  #bioPage, #technologiesPage {
  background: radial-gradient(transparent, $plum) no-repeat center center fixed,
    $plum url("https://images.unsplash.com/photo-1447703693928-9cd89c8d3ac5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80") no-repeat center center fixed;
  background-size: cover;
  color: $warmwhite;
  height: 100%;
  margin: 0;
  padding: 0;

   & p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 90%;
  }
}

  a {
    color: $plum;
    text-decoration: none;

    &:hover {
        font-size: 1.1em;
    }

    &:active {
        color: rgba(79, 5, 83, 0.767); 
        text-decoration: underline;
    }
  }

  h3 {
    margin-top: 2em;
  }

//   #technologiesPage{
//     background-color: $plum;
//     color: $warmwhite;

//   }    

  .skillsList {
    & p {
      font-size: 4em;

      &:hover{
        color: $warmtaupe;
      }
    }
  }

  #projectsBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .projectCard {
    background-color: $cardbackground;
    border: 2px solid $mutednavy;
    color: $mutednavy;

    & h4 {
      color: $headerteal;
    }
  }
    
  .projectLinks {
    display: flex;
    justify-content: space-evenly;
  }

  #projectsPage{
    // display: none;
  }

  .footerLinks{
    display: flex;
    font-size: 2em;
    justify-content: space-evenly;   
  }

  .page-footer {
    background-color: $warmtaupe;

    & h5 {
      text-align: center;
    }

    a {
      &:hover{
        color: $warmwhite;
      }
    }
  }
}
